name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: "JDK ${{ matrix.java }}"
    strategy:
      matrix:
        java: [8, 11, 25]
    runs-on: ubuntu-latest
    steps:
      # Cancel any previous runs for the same branch that are still running.
      - name: 'Cancel previous runs'
        uses: styfle/cancel-workflow-action@85880fa0301c86cca9da44039ee3bb12d3bedbfa
        with:
          access_token: ${{ github.token }}
      - name: 'Check out repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: 'Cache Bazel dependencies'
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        with:
          path: ~/.cache/bazel/*/*/external
          key: bazel-${{ hashFiles('MODULE.bazel') }}
          restore-keys: |
            bazel-
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: 'Test'
        shell: bash
        run: bazelisk test --lockfile_mode=error --test_output=errors //...
